{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "**/lwc/**/*.js",
      "options": {
        "parser": "babel",
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
